[submodule "wfx-firmware"]
	path = wfx-firmware
	url = https://github.com/SiliconLabs/wfx-firmware.git
[submodule "jtag-trace"]
	path = jtag-tools
	url = https://github.com/betrusted-io/jtag-trace.git
